# انسخ هذا الملف باسم .env وعبّي القيم

# === بوت Hadiya (القيف أواي) ===
DISCORD_TOKEN=ضع_توكن_هديه_هنا
CLIENT_ID=ضع_ايدي_هديه_هنا

# === بوت System (الإدارة) ===
SYSTEM_TOKEN=ضع_توكن_سيستم_هنا
SYSTEM_CLIENT_ID=ضع_ايدي_سيستم_هنا
